.hero {
  max-width: 1600px;
  margin: 0 auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  color: #c3c3c3;
  font-size: 100px;
}

.phrase {
  color: red;
  font-size: 30px;
}

.featured-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container1 {
  background-color: white;
  height: 515px;
  width: 515px;
  border-radius: 12px;
  color: black;
}

.container1-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  height: 90%;
}

.container1-product-price-container {
  height: 10%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.container1-product-title {
  margin-left: 3%;
}

.container1-price {
  margin-right: 3%;
}

.container2 {
  background-color: white;
  height: 515px;
  width: 515px;
  border-radius: 12px;
  color: black;
}

.container2-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 12px;
  height: 90%;
}

.container2-product-price-container {
  height: 10%;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid black;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.container2-product-title {
  margin-left: 3%;
}

.container2-price {
  margin-right: 3%;
}

.info {
  height: 515px;
  width: 515px;
  border-radius: 12px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.info p {
  line-height: 1.7;
}

.iframe {
  width: 100%;
  height: 800px;
  border-radius: 12px;
}
/*# sourceMappingURL=hero.css.map */