html {
  background-color: black;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.about-container {
  display: flex; 
  flex-direction:column;
  align-items: center;
  color: white; 
  position: absolute;
  background-color: black; 
  width: 100%; 
  /* opacity: 0.8;  */
  height: 100vh;
  /* transition: opacity 0.3s ease-in-out */
}

/* .about-container.fade {
  display: flex;
  opacity:.8;
  transition: opacity 0.3s ease-in-out
} */

#about-page {
  opacity: 0; 
  visibility: hidden;
  /* display: none; */
  transition: visibility 0.3s, opacity 0.3s ease-in-out; 
}


#about-page.show {
  /* display: flex; */
  visibility: visible;
  opacity: 0.8;
  cursor: pointer;
}



@keyframes move {
  from {right: -500px}
  to {right: 0px}
}







.about-info-container {
  width: 70%;
  margin-top: 100px;
  text-align: center;
  height: 400px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.about-info-container h4 {
  margin-top: 0;
  
}

.about-info-container h3 {
  margin-bottom: 0;
  
}

#cartId {
  position: absolute;
  width: 500px;
  height: 100vh;
  background-color: black;
  /* display: none; */
  visibility: hidden;
  right: -500px;
  transition-duration: 1s;
  top: 0px;
  /* width: 0px; */

  transition: visibility 0.3s, right 0.3s ease-in-out;

}

#cartId.open {
  /* display: flex; */
  /* transition-duration: 2s; */
  visibility: visible;
  width: 500px;
  height: 100vh;
  top: 0px;
  right: 0px;
  border-left:  3px solid #c3c3c3;
}

.cart-container {
  /* display: none; */
  

  /* position: absolute; */
  /* animation: move 2s; */
  /* right: 0px; */
  /* align-items: center; */
}

/* .cart-active {
  display: flex;
  animation: move 1s;
  justify-content: center;
  flex-direction: column;
} */

.cart-exit {
  height: 30px;
  width: 30px;
  background-color: black;
  color: #c3c3c3;
  border: none;
  font-size: 20px;
  cursor: pointer;
  /* margin-right: 20px; */
  /* margin-top: 20px; */

  
}

.cart-button-container {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-product-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* border: 1px black solid; */
  color: #c3c3c3;
  margin-bottom: 20px;
}

.cart-product-image {
  background-color: white;
  width: 100px;
  height: 130px;
  border-radius: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cart-product-increment {
  display: flex;
  flex-direction: row;
  border: 1px solid #c3c3c3;
  align-items: center;
  height: 40px;
  width: 80px;
  border-radius: 8px;
  justify-content: space-around;

}

#cart-increment-remove {
  background-color: black;
  color: #c3c3c3;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

#cart-increment-add {
  background-color: black;
  color: #c3c3c3;
  border: none;
  font-weight: 900;
  cursor: pointer;
}

.cart-product-remove-button {
  color:red;
  background-color: black;
  border: none;
  cursor: pointer;
}

.cart-subtotal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 1px solid #c3c3c3;
  border-bottom: 1px solid #c3c3c3;
  color: #c3c3c3;
  height: 70px;
  align-items: center;
}

.cart-subtotal {
  margin-left: 33px;
  font-weight: 700;
}

.cart-value {
  margin-right: 33px;
}

/* CART PROMO */

.cart-promo-continue-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #c3c3c3;
  width: 100%;
  align-items: center;
}

.cart-promo-title {
  color: #c3c3c3;
  margin-bottom: 15px;
  margin-top: 15px;
}

.cart-promo-input {
  width: 80%;
  border: none;
  text-align: center;
  height: 45px;
  border-radius: 6px;
  margin-bottom: 15px;

}

.cart-continue {
  height: 45px;
  width: 80.5%;
  background-color: #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  cursor: pointer;
}

.cart-pay-choice-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:#c3c3c3

}

.cart-pay-choice-container h1 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 500;
}

.cart-pay {
  width: 80%;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  height: 32px;
  background-color: #c3c3c3;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

